Name: <%= @trip.name %>
Total hiking distance: <%= @trip.total_trail_length %>
Average hiking distance: <%= @trip.average_trail_length %>
Longest trail Length: <%= @trip.max_trail_length %>
Shortest trail Length: <%= @trip.min_trail_length %>

<ul>
<% @trails.each do |trail| %>
  <li>
    <%= link_to  "#{trail.name}", trail_path(trail) %>
    Length: <%= trail.length %>
    Address: <%= trail.address %>
  </li>
<% end %>
</ul>